apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "12"
  name: dwk-environments
  namespace: project
  resourceVersion: "1769516550721135000"
  uid: 556f8c51-f1fd-46f2-b743-366e3040d5df
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: dwk-environments
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: dwk-environments
    spec:
      containers:
      - image: europe-north1-docker.pkg.dev/project-d585011e-65cd-481e-b8a/k8s-images/colorcontent:main-66cd9d0202fc44891e4599676e412759e5e209a6
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
          protocol: TCP
        resources:
          requests:
            cpu: "5m"
            memory: "32Mi"
          limits:
            cpu: "50m"
            memory: "64Mi"
        name: dwk-environments
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2026-01-27T11:11:07Z"
    lastUpdateTime: "2026-01-27T11:11:07Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2026-01-26T20:01:31Z"
    lastUpdateTime: "2026-01-27T12:22:30Z"
    message: ReplicaSet "dwk-environments-7886d7c6c4" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 12
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
