apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: ping-pong
  namespace: project
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ping-pong
  strategy:
    canary:
      stableService: ping-pong-stable
      canaryService: ping-pong-canary
      steps:
      - setWeight: 50
      - analysis:
          templates:
          - templateName: ping-pong-cpu-usage
      - setWeight: 100
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
      - name: ping-pong
        image: europe-north1-docker.pkg.dev/project-d585011e-65cd-481e-b8a/k8s-images/ping-pong:fixed
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        env:
        - name: PORT
          value: "3000"
        - name: POSTGRES_HOST
          value: postgres
        - name: POSTGRES_DB
          value: pingpong
        - name: POSTGRES_USER
          value: pingpong
        - name: POSTGRES_PASSWORD
          value: pingpong
        readinessProbe:
          httpGet:
            path: /healthz
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /healthz
            port: 3000
          initialDelaySeconds: 20
          periodSeconds: 5