apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: europe-north1-docker.pkg.dev/project-d585011e-65cd-481e-b8a/k8s-images/ping-pong:fixed
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            - name: POSTGRES_HOST
              value: postgres
            - name: POSTGRES_DB
              value: pingpong
            - name: POSTGRES_USER
              value: pingpong
            - name: POSTGRES_PASSWORD
              value: pingpong
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - pg_isready -h postgres -p 5432 -U pingpong
            initialDelaySeconds: 5
            periodSeconds: 5