apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      volumes:
        - name: shared-storage
          persistentVolumeClaim:
            claimName: shared-pvc
      containers:
        - name: ping-pong
          image: razibhasan2/ping-pong:1.3.0
          env:
            - name: PORT
              value: "3000"
          volumeMounts:
            - name: shared-storage
              mountPath: /usr/src/app/shared