apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: razibhasan2/ping-pong:2.7.5
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            - name: POSTGRES_HOST
              value: postgres
            - name: POSTGRES_DB
              value: pingpong
            - name: POSTGRES_USER
              value: pingpong
            - name: POSTGRES_PASSWORD
              value: pingpong
