apiVersion: apps/v1
kind: Deployment
metadata:
  name: broadcaster-dep
spec:
  replicas: 6
  selector:
    matchLabels:
      app: broadcaster
  template:
    metadata:
      labels:
        app: broadcaster
    spec:
      containers:
        - name: broadcaster
          image: razibhasan2/broadcaster:latest
          env:
            - name: NATS_URL
              value: nats://my-nats:4222
            - name: WEBHOOK_URL
              value: https://webhook.site/95067b9a-07e9-4ff8-b618-af318da2e5b3
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name