apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
        - name: shared-storage
          persistentVolumeClaim:
            claimName: shared-pvc

      containers:
        - name: writer
          image: razibhasan2/log-writer:1.0.1
          volumeMounts:
            - name: shared-storage
              mountPath: /usr/src/app/shared

        - name: reader
          image: razibhasan2/log-reader:1.16
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: shared-storage
              mountPath: /usr/src/app/shared
          readinessProbe:
            httpGet:
              path: /ready
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5
