apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
        # Existing shared volume (writer <-> reader)
        - name: shared-storage
          persistentVolumeClaim:
            claimName: shared-pvc

        # NEW ConfigMap volume
        - name: config-volume
          configMap:
            name: log-output-config

      containers:
        - name: writer
          image: razibhasan2/log-writer:1.0.0
          volumeMounts:
            - name: shared-storage
              mountPath: /usr/src/app/shared

        - name: reader
          image: razibhasan2/log-reader:1.15
          imagePullPolicy: Always
          ports:
            - containerPort: 3000

          # ENV variable from ConfigMap
          env:
            - name: MESSAGE
              valueFrom:
                configMapKeyRef:
                  name: log-output-config
                  key: MESSAGE

          volumeMounts:
            - name: shared-storage
              mountPath: /usr/src/app/shared

            # Mount ConfigMap file
            - name: config-volume
              mountPath: /config
