apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: todo-backend
          image: razibhasan2/todo-backend:2.8
          imagePullPolicy: Always

          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: todo-backend-config
          env:
            - name: PORT
              value: "3000"
            - name: DB_HOST
              value: todo-postgres
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: todo-db-secret
                  key: DB_NAME
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: todo-db-secret
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: todo-db-secret
                  key: DB_PASSWORD
