apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: pingpong
  namespace: default

spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "0"
        autoscaling.knative.dev/maxScale: "5"

    spec:
      containers:
        - image: razibhasan2/ping-pong:latest
          ports:
            - containerPort: 8080

          env:
            - name: MESSAGE
              value: "hello world"

            - name: GREETER_URL
              value: "http://greeter-svc"